.button {
    -fx-background-color: linear-gradient(to bottom, #4a90e2, #357cd1);
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 20;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #357cd1, #4a90e2);
}
#HeaderLabel {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a90e2;
}